<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your Record</h2>

    {% if record %}

    <p>Name: {{ record.name }}</p>
    <p>Age: {{ record.age }}</p>
    <p>Created: {{ record.createdOn }}</p>
    <p>Last Updated: {{ record.updatedOn }}</p>

    {% else %}

    <p>No record found.</p>

    {% endif %}

    <a href="{{ url_for('home') }}">Go home instead</a>
    <br><br>
    <a href="{{ url_for('logout')}}">Log out</a>"
</body>
</html>